extends ./layouts/main.pug

block mainContent
  .containerr
    h1 Blog Personal
    .formm-container
      a.button(href="/auth/register") Registrarse
      a.button(href="/auth/login") Iniciar sesión
